//colors
$backgroundColor: #ff0000;

//font
$fontVars:(
"size": 1.6rem,
"font": 'Roboto', 
"color": #000000
);

//tasks
$tasksVars: (
    "background": #DDDDDD,
);

$labelvars:(
    "orange" : #ff8c00, 
    "green" :#43e13e,
    "purple" :#de06ff,
    "red": #930000,
    "grey": #373434,
    "blue": #0004ff,
)